nav {
    display: flex;
    background: #ddd;
    align-items: center;
    
}
    
nav ul li {
    display: inline-block;
    padding: 0px 20px;
    
}

.logo {
    width: 100px;
    height: auto;
    max-width: 50%;
    
   
    
}

.menu {
    
    
    
}

